[Unit]
Description=Etcd is Running and available for Kubernetes
Requires=multi-user.target
After=k8sos-etcd.service

[Install]
WantedBy=multi-user.target
