[Unit]
Description=Etcd

[Service]
Type=notify
ExecStart=/bin/etcd \
  --name ip-192-168-1-62.eu-west-3.compute.internal \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://10.0.2.15:2380 \
  --listen-peer-urls https://10.0.2.15:2380 \
  --listen-client-urls https://10.0.2.15:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://10.0.2.15:2379 \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5


[Install]
WantedBy=etcd-ready.target
