[Unit]
Description=Kubernetes Scheduler

[Service]
ExecStart=/bin/kube-scheduler \
  --config=/etc/kubernetes/kube-scheduler.yaml \
  --v=2
Restart=on-failure
RestartSec=5
Requires=etcd-ready.target
After=etcd-ready.target

[Install]
WantedBy=kubernetes-ready.target
