[Unit]
Description=Kubernetes Controller Manager

[Service]
ExecStart=/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr=10.0.2.0/24 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/var/lib/kubelet/ca.pem \
  --cluster-signing-key-file=/var/lib/kubelet/ca-key.pem \
  --kubeconfig=/var/lib/kubelet/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/var/lib/kubelet/ca.pem \
  --service-account-private-key-file=/var/lib/kubelet/service-account-key.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=etcd-ready.target
