[Unit]
Description=Kubelet components are running successfully
Requires=multi-user.target
After=kubelet.service kube-proxy.service

[Install]
WantedBy=multi-user.target
