[Unit]
Description=Kubernetes Control Plane Elements are Running Successfully
Requires=etcd-ready.target
After=etcd-ready.target kube-apiserver.service kube-controller-manager.service kube-scheduler.service

[Install]
WantedBy=etcd-ready.target
