[Unit]
Description=Kubernetes Control Plane Elements are Running Successfully
Requires=etcd-ready.target
After=etcd-ready.target k8sos-kube-apiserver.service k8sos-controller-manager.service k8sos-kube-scheduler.service

[Install]
WantedBy=etcd-ready.target
